<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
	<appSettings>		
	</appSettings>
  
	<connectionStrings></connectionStrings>
	<system.web>
    <pages>
      <controls>        
      </controls>
    </pages>
    
    <httpHandlers>
      <add verb="*" path="test.simple" type="Kunukn.XmlVisual.WebVisualization.HttpExtensions.SimpleHandler, Kunukn.XmlVisual.WebVisualization" />
      <add verb="*" path="svg.view" type="Kunukn.XmlVisual.WebVisualization.HttpExtensions.SvgHandler, Kunukn.XmlVisual.WebVisualization" />            
    </httpHandlers>
    
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		
    <httpRuntime requestValidationMode="2.0"/>
         
	</system.web>
	<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    
    <handlers>
      <add name="testsimple" verb="*" path="test.simple" type="Kunukn.XmlVisual.WebVisualization.HttpExtensions.SimpleHandler, Kunukn.XmlVisual.WebVisualization" />
      <add name="svgview" verb="*" path="svg.view" type="Kunukn.XmlVisual.WebVisualization.HttpExtensions.SvgHandler, Kunukn.XmlVisual.WebVisualization" />
    </handlers>

    <!--
		<modules runAllManagedModulesForAllRequests="true"/>
    -->
    
	</system.webServer>
  
</configuration>
