<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>

  <appSettings>
    <add key="Debug" value="false"/>
    <add key="PathInXml" value="xml\\Note.xml"/> <!-- View2 Note KML xhtml index LiquidSound Bygning Bygning2 Dashboard Weather Bpel -->    
    <add key="PathOutSvg" value="xmlview.svg"/>
    
    <add key="VisualizationType" value="Sunburst"/> <!-- Tree Rectangle ChineseBox  MindMap FileSystem Sunburst -->
    
    <!--Include in parsing? -->
    <add key="IncludeDeclaration" value="false"/>     <!-- metadata -->
    <add key="IncludeProcessingInstruction" value="true"/>     
    <add key="IncludeDocType" value="false"/>   
    <add key="IncludeAttribute" value="true"/>
    <add key="IncludeCdata" value="true"/>
    <add key="IncludeText" value="true"/>
    <add key="IncludeMixedText" value="true"/>
    <add key="IncludeComment" value="true"/>
    
    <!--General config -->
    <add key="FullText" value="false"/>
    <add key="ObjectsMovable" value="false"/>

    <!-- bigraph view specific -->
    <add key="IncludeBigraph" value="false"/>
    <add key="BigraphMinimum" value="2"/> <!-- min occurance -->
    <add key="BGIncludeNode" value="false"/>
    <add key="BGIncludeAttributeName" value="false"/>
    <add key="BGIncludeAttributeValue" value="true"/>
    <add key="BGIncludeText" value="false"/>
    <add key="BGIncludeComment" value="false"/> <!-- not imple -->
    <add key="BGIncludeCdata" value="false"/> <!-- not imple -->
    <add key="BGIgnore" value="ignoreMe|ignoreMeToo"/>    

    <!-- js setup -->
    <add key="JsGroupFn" value="1"/>
    
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
